@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
  --theme-darkGray: #20293A;
  --theme-primary: #111729;
  --theme-primary-gray: #20293A;
  --theme-gray: #6D7989;
  --theme-blue: #62BAF3;
  --code-font: 'Source Code Pro', monospace;
}


body {
  height: 100vh;
  background-color: var(--theme-primary);
  font-family: 'Poppins', sans-serif;
}


main {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-container {
  display: flex;
}



.main-side-navbar > ul > li:nth-last-of-type(4) {
  color: var(--theme-blue);
  border-left: 2px solid var(--theme-blue);
}

.main-side-navbar > ul > li {
  transition: all 200ms ease-in-out;
  color: var(--theme-gray);
  border-left: 2px solid var(--theme-gray);
  cursor: pointer;
  list-style: none;
  padding: 1rem 0 1rem .8rem;
  border-radius: 0 10px 10px 0;
  padding-right: 2em;
}

.main-side-navbar > ul > li:hover {
  color: white;
  background-color: #515f71;
}


.main-content {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5rem;
}

.home-title {
  color: white;
  font-family: var(--code-font);
  font-size: 2.4rem;
}


#my-img {
  border: 1px solid gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-container {
  box-shadow: inset 0 1px 1px hsla(0, 0%, 60%, 0.2);
  width: 45%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  background-color: var(--theme-darkGray);
  border-radius: 5px;

}

.col-profile-container {
  flex-direction: column;
  display: flex;
  height: fit-content;
  align-items: flex-start;
}

.col-profile-container > h4 {
  color: white;
  
}
.col-profile-container > p {
  font-size: 13px;
  margin-top: -1rem;
  color: var(--theme-gray)
}


@media only screen and (max-width: 800px) {
  .profile-container {
    width: 80%;
  }
  .main-content {
    margin-top: 1rem;
  }

  .main-side-navbar {
    display: none;
  }

  .home-title {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 1200px) {
  .col-profile-container {
    width: 70%;
  }
}