.phone-key {
  width: 90px;
  height: 80px;
  display: flex;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-btn {
  cursor: pointer;
}


#phone-number {
  letter-spacing: 5px;
  min-height: 25px;
  font-size: 20px;
}

.phone-key:hover {
  background-color: #d2d6b2;
}

#convert-btn {
  margin-top: 2rem;
  width: 4rem;
  height: 2rem;
  background-color: #4b82c5;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#convert-btn:hover {

  background-color: #246fca;
}

body > form {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e9edc9;
  padding: 10px;
}
